@require 'variables.styl'

html, body
  background background-color-white
  font-size font-size-base
  color font-color-black
  margin 0
  padding 10px

a
  color font-color-blue

  &.active
    color font-color-red
