@require '../../global_styles/colors'
@require '../../global_styles/icons'
@require '../../global_styles/fonts'

h1
  font-sans 800
  font-size 32px

p
  margin-top 10px

.internationalizationBlurb
  icon-color $color-blue

hr
  margin 20px 0
