doctype html
html
  head
    title React Boilerplate

  body
    //- The root component for react to render into
    #app
    //- Bundle script tag is added at the end of body automatically by html-webpack-plugin
